<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <h2>Review Exercise 3</h2>
    </section>
    <nav>
        <a href='/'>Home</a> |
        <a href='/weather'>Weather</a> | 
        <a href='/weather/athlone'>Param weather</a> | 
        <a href='/kitten/120/240'>Kitten</a> |
        <a href='/osm'>Map</a> |
        <a href='/osm/-7.9000/53.475'>Map Params</a>
    </nav>
</body>
</html>